* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    /* padding-block: px; */
}

.nav--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-right: 2px solid #d5cece;
}

.navigation ul li {
    padding-inline: 12px;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.assistance {
    display: flex;
}

.assistance .text {
    padding-inline: 10px;
}